/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* iceland-regular - latin */
@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/iceland-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Iceland'), local('Iceland-Regular'),
       url('../../fonts/iceland-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/iceland-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/iceland-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('.././fonts/iceland-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/iceland-v5-latin-regular.svg#Iceland') format('svg'); /* Legacy iOS */
}

body { background:#66F;
font-family: 'Iceland';font-size: 22px;
}
.main_wrapper{
	width:auto;
	height:auto;
	margin:auto;
}
.header_wrapper{
	width:auto;
	height:100px;
	/*background:#FFF;*/
	background-image:url(../../images/540212780.jpg);
	background-size:cover;
}

.header_wrapper img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#navbar{
	width:auto;
	height:50px;
	background:#CCC;
	color:#03F;
}
	#menu{
		padding:0px;
		line-height:36px;
		margin-top:1px;
		float:left:
	}
	#menu li{
		list-style:none;
		display:inline;
	}
	#menu a{
		text-decoration:none;
		color:#FFF;
		margin:5px;
		padding:10px;
		font-size:20px; 
	}
	#menu a:hover{
		font-weight:bolder;
		color:#000;
	}
	
	#form {
		margin:5px;
		float:right;
		padding-right:5px;
	}

.content_wrapper{
	width:auto;
	height:auto;
	/*background:#06F;*/
	background-image:url(../../images/540212780.jpg);
	background-size:cover;
}

#right_content{
	width:1085px;
	height:auto;
	/*background:#06F;*/
	float:right;
}
	
	
	#content-box{
		width:auto;
		padding:10px;
		margin-left:30px;
		margin-top:10px;
		margin-bottom:10px;
		text-align:center;
		color:#09F;
	}
	
	#single_product{
		float:left;
		padding:10px;
		margin-left:20px;
		margin:0 auto;
		border:2px solid red;
	}
	

#left_sidebar{
	width:250px;  
	height:auto;
	/*background:#0FF;*/
	float:left;
}
	#sidebar_title
	{
		margin-top:5px;
		margin-left:10px;
		text-align:left;
		background:#CCC;
		
		color:#000;
		padding:5px;
		font-size:22px;
		/*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	}
	
	#cats{
		
		text-align:left;
		padding:5px;	
			
	}
	#cats li{
		list-style:none;
		margin:10px;
		
	}
	#cats a {
		color:#FFF;
		font-size:22px;
		text-decoration:none;
		margin:5px;
		
	}
	#cats a:hover{color:#000; font-weight:bolder;}
		

.footer_area{
	width:auto;
	height:50px;
	background:#CCC;
	color:#00F;
	clear:both;
}
